<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jcatr.creativecollective">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/smile1"
        android:label="HAPPY LAB IS WATCHING"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PhotoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".SpeakActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".WriteActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ConclusionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ConclusionTwoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ConclusionThreeActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".PostPhotoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LoadingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LoopActivity" android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".TransitionActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".TransitionTwoActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"></activity>

        <service android:enabled="true" android:name="CameraService" />

    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" ></uses-permission>
    <uses-permission android:name="android.permission.CAMERA.FRONT"></uses-permission>

</manifest>